[submodule "nturt_bag_recorder"]
	path = nturt_bag_recorder
	url = https://github.com/NTURacingTeam/nturt_bag_recorder.git
	branch = ros2
[submodule "nturt_can_config"]
	path = nturt_can_config
	url = https://github.com/NTURacingTeam/nturt_can_config.git
	branch = master
[submodule "nturt_can_parser"]
	path = nturt_can_parser
	url = https://github.com/NTURacingTeam/nturt_can_parser.git
	branch = ros2
[submodule "nturt_gps"]
	path = nturt_gps
	url = https://github.com/NTURacingTeam/nturt_gps.git
[submodule "nturt_led_controller"]
	path = nturt_led_controller
	url = https://github.com/NTURacingTeam/nturt_led_controller.git
	branch = ros2
[submodule "nturt_push_to_control_tower"]
	path = nturt_push_to_control_tower
	url = https://github.com/NTURacingTeam/nturt_push_to_control_tower.git
[submodule "nturt_realtime_utils"]
	path = nturt_realtime_utils
	url = https://github.com/NTURacingTeam/nturt_realtime_utils.git
	branch = ros2
[submodule "nturt_ros_interface"]
	path = nturt_ros_interface
	url = https://github.com/NTURacingTeam/nturt_ros_interface.git
	branch = ros2
[submodule "nturt_rpi_deployer"]
	path = nturt_rpi_deployer
	url = https://github.com/NTURacingTeam/nturt_rpi_deployer.git
	branch = ros2
[submodule "ros2_socketcan"]
	path = ros2_socketcan
	url = https://github.com/NTURacingTeam/ros2_socketcan.git
	branch = main
